*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.nav-bar{
    height: 50px;
    width: 100%;
    background: #e7c9c9;
}

.head-style{
    font-size: 75px;
}

.animal-style{
    font-size: 40px;
}

.the-style{
    color: #130303;
    font-size: 40px;
}

.wild-style{
    color: #e40000;
    font-size: 65px;
}

.life-style{
    color: #008500;
    font-size: 40px;
}

.sub-navbar-contain-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(189, 255, 205);
    height: 550px;
    position: relative;

}

.main-heading{
    position: absolute;
    top: 20px;
}

.video-width {
    width: 440px;
    height: 250px;
    border:none;
    border-radius: 20px;
    

}


.contain-info{
    position: absolute;
    bottom: 20px;
    height: 45px;
    background: #ffffff;
    border: 2px solid #000;
    border-radius: 5px;
}

.text-center{
    text-align: center;
    margin: 6px;
}


/* main-section-contain-styling------------------------- */

.animal-card{
    border: 2px solid #000;
    width: 350px;
    margin: 80px;

}

.img-contain{
    position: relative;
    width: 100%;

}

.animal-img{
    width: 100%;
    display: block;
    
}

.overlayer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.ani-name{
    font-size: 30px;
}

.card-content{
    padding: 15px;
}

.card-info{
    display: flex;
    justify-content: space-between;
}

.name-contain{
    text-align: center;
}

.buttom-margin{
    margin-bottom: 20px;
}