*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.main-head-section{
    background-color: rgb(122, 122, 185);
    height: 350px;
}

.head-section{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;

}

.animal-heading{
  
    margin: 140px;
}

.animal-img{
    height: 349px;
    width: 650px;
}


p{
    font-size: 17px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
ul {
    padding-left: 20px;
}

ul li{
    font-size: 17px;
}

a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.back-btn-contain{
    display: flex;
    justify-content: center;
}



.back-btn{
    height: 50px;
    width: 130px;
    margin: 2px auto;
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
    background: #3498db;
    border-radius: 10px;
    
}

.back-btn:hover{

box-shadow: 0 8px 16px rgba(2, 71, 60, 0.7);

}