/**
 * Hide <select> and submit-button
 */
#views-exposed-form-01-ocean-topics-default .form-item__select {
    /*display: none;*/
}
#views-exposed-form-01-ocean-topics-default,
#views-exposed-form-01-ocean-lesson-plans-search-block-1 .form-item,
#views-exposed-form-01-ocean-lesson-plans-search-block-1 #edit-actions,
.view--op-site-search .form-item--id-sort-by,
.view--op-site-search .form-item--id-sort-order,
.view--op-site-search .form-item__label {
    display: none;
}

/**
 * Pure styling, should probably be put in your theme stylesheet
 * instead of in this module
 */
.pop-list {
    display: flex;
    flex-wrap: wrap;
}

.pop-list .filter-label {
    text-transform: uppercase;
    font-weight: 700;
}

.pop-list li {
    display: inline-block;
}

.pop-list li span {
    display: inline-block;
    padding-top: 10px;
    padding-right: 5px;
}
/*.pop-list li a {*/
    /*background-color: #CCC;*/
    /*height: 40px;*/
    /*border-radius: 40px;*/
    /*padding: 10px 16px 9px;*/
    /*color: #FFF;*/
    /*line-height: 23px;*/
    /*text-decoration: none;*/
    /*border-bottom: none;*/
/*}*/
/*.pop-list li a.active {*/
    /*background-color: #0071b3;*/
/*}*/
/*.view-filter-articles .views-row{*/
    /*float: left;*/
    /*padding: 15px;*/
/*}*/